name: Publish Quarto book to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          extra-repositories: https://cranhaven.r-universe.dev

      - name: Install R packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            tidyverse
            knitr
            rmarkdown
            blogdown
            knitr
            gt
            gtExtras
            patchwork
            cowplot
            devtools
            tufte
            kableExtra
            DT
            webexercises
            plotly
            ggthemes
            palmerpenguins
            GGally
            ggrepel
            ggforce
            ggfortify
            ggeffects
            nlme
            lme4
            lmerTest
            FactoMineR
            datasauRus
            factoextra
            highcharter
            shinylive
            maps
            mapproj
            munsell
            ggimage
            ggtext
            infer
            boot
            Hmisc
            ggridges
            janitor
            gganimate
            ggExtra
            caret
            pwr
            multcomp
            dagitty
            ggdag
            bslib
            
      - name: Render book
        run: quarto render

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _book
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
